<p>Ann Marie Pyper was born and raised in Venezuela.</p>
<p>She studied Human Resources and got her degree in 2004. She worked in that field for many years with different
    companies that helped her build a solid experience. In 2016, due to the situation in her country, she decided to come to Portland, 
    Oregon, to look for another opportunity and to keep growing as a person. It was here where she found love. She got
    married and soon after, she started to work with children to teach them Spanish at a local preschool.</p>
<p>Anny has been at Nuestro Jardín since February 2019. This has been an adventure for Ann Marie, which has brought her
    many joyful experiences, in which she has been able to care for and give all the love she hasn't been able to give to
    her loved ones in her native country.</p>
<p>As the Assistant Director of Operations at Nuestro Jardín, she looks forward to continuing to grow professionally.
    She is excited about doing something she really loves while still being surrounded by children.</p>
<p>In her free time, she likes going dancing, attending different cultural events, traveling, and making new friends.
</p>