<!-- Team Blcoks -->
<div class="row team-v7 no-gutter equal-height-columns">
    <div class="col-md-6 team-arrow-right">
        <div class="dp-table">
            <div class="equal-height-column dp-table-cell team-v7-in">
                <span class="team-v7-name">Ayesha Hernández Franco</span>                        
                <span class="team-v7-position">{% trans "Teacher’s Assistant" %}</span>
                <div style="max-height: 360px; overflow-y: scroll; overflow-x:hidden;">
                    <p>
                        {% trans "Ayesha Franco was born and raised in México City and she has been working with children for over 9 years. She started working with infants for 3 years at a Migrant Head Start, and later on she began gaining experience working with preschoolers. She also worked at Wildwood Nature School teaching Spanish. Ayesha loves to share her language, traditions, music, etc. in other words, her culture, with others, especially with children. She finds it rewarding every time a child gets excited about her culture and wants to learn more about it. " %}
                    </p>
                    <p>
                        {% trans "She is happy to work at Nuestro Jardín Academy not just because she can speak her first language, but because she strongly believes that this kind of school gives children the opportunity not only to become bilingual but more importantly, to open their minds and hearts to other cultures.  By learning about other cultures, children can appreciate the diversity of this colorful country." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 team-v7-img">
        <img class="img-responsive full-width equal-height-column" src="/assets/nja-img/teachers/ayesha_franco.jpg" alt="">
    </div>
</div>
<!-- End Team Blcoks -->
