<p>
    Berenice was born in the city of Irapuato, located in the historical state of Guanajuato, Mexico. Along with her family, parents and two sisters, they came to Oregon in 1995. She was only 8 and has lived in the Northwest since, where she has attended elementary, middle, and high school (Gopher Graduate), and some college.
</p>
<p>
    Berenice is a proud mom to a boy whom she’s raised bilingual in both Spanish and English.  For five years, she volunteered at the schools her son attended, acquiring experience with kids from preschool age to 1st grade. She was was also a self-employed babysitter for two years, and she really loved taking children on outings to explore around town. She has also collaborated in her community volunteering at El Programa Hispano (Catholic Charities), Gresham Library for El Día del Niño celebration, Northwest Family Services, Eastwind Family Center, 5 de Mayo Festival and at KBOO 90.7 FM co-hosting a show.
</p>
<p>
    Being around children for so many years gave her a strong interest to work at a school, especially an immersion type where she can share her passion for her first language and her cultural heritage. Now being exposed professionally with the children at Nuestro Jardin, Berenice sees how gratifying and exciting it is to listen and observe children learn quickly in a fun environment.
</p>
<p>
    This is Berenice’s second year at Nuestro Jardín, and she is excited to be one of the teachers in the Colibríes’ class. She is also completing her Early Childhood coursework to obtain her ECE certification.
</p>