<p>
    Camila Araya Pérez is a patiperra, she was born and raised in Santiago de Chile and has always loved traveling. She visited the United States as a child on vacations and as a foreign student. After she graduated from her undergraduate in Santiago where she double majored in Graphic Design and Visual Communication at the Universidad del Pacifico, she took an opportunity to work at Mount Hood Meadows Ski Resort and also started her career as a graphic designer in Hood River, Oregon. During this time she discovered Portland and decided that she wanted to continue her education further with a masters degree from the MFA Applied Craft and Design program at OCAC/PNCA.
</p>
<p>
    Since graduating from that program she has been working as a Pre-K art and Spanish teacher. She is also the co-founder and co-owner of Letra Chueca Press: A small operation using traditional machines and techniques to produce quality printed goods and smart design. Through their conscious practices rooted in a culture that supersedes borders, they intertwine craft and art, lo folklórico and the literary.
</p>
<p>
    Camila loves printing at her shop, loves spending time with her partner and pup and she loves to collaborate with other artists to create matter.
</p>
<p>
    She is very excited to start working in Nuestro Jardín to share with the children her love for Art and Spanish, and, at the same time, to learn from them and her peers.
</p>