<!-- Team Blcoks -->
<div class="row team-v7 no-gutter equal-height-columns">
    <div class="col-md-6 team-arrow-right">
        <div class="dp-table">
            <div class="equal-height-column dp-table-cell team-v7-in">
                <span class="team-v7-name">Clara Howel</span>                        
                <span class="team-v7-position">Teacher</span>
                <div style="max-height: 360px; overflow-y: scroll; overflow-x:hidden;">
                    <p>
                        {% trans "Clara was born in one of the biggest cities of the world: Mexico City. She is very proud of being Mexican and believes her native country offers much to the world in terms of natural resources and culture." %}
                    </p>
                    <p>
                        {% trans "Clara has a Bachelor’s Degree in Physical Education from Escuela Superior de Educacion Fisica in Mexico City. She also has an Early Childhood Education Certificate from Clark College in Washington. She is an enthusiastic, creative, and playful person. She loves hiking, gardening, cooking, and listening to music. Currently she lives in Vancouver, Washington with her husband Maurice and two daughters Clair and Natalia." %}
                    </p>
                    <p>
                        {% trans "She is coming to this job after teaching Spanish at a Montessori school for toddlers for four years. Now she is very excited to be part of Nuestro Jardin Academy Spanish Immersion. Clara seeks to encourage and inspire students to grow intellectually and culturally through their exposure to the Spanish language. She cannot wait to see what adventures this year will bring." %}  
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 team-v7-img">
        <img class="img-responsive full-width equal-height-column" src="/assets/nja-img/teachers/Lisset.png" alt="">
    </div>
</div>
<!-- End Team Blcoks -->

