<!-- Team Blcoks -->
<p>
    {% trans "Claudia Contreras-Peters was born and raised in Santiago, Chile, and at an early age, she was interested in (or obsessed with) languages. In 1992, she took a trip to California to “visit her aunt and practice her English.” She made a decision to stay in the United States and attend college in California.  But that trip became the trip of her life, in that those 3 months became 24 years!" %}
</p>
<p>
    {% trans "Claudia comes from a family of educators who are passionate about teaching, guiding, and supporting children in whatever stage of life they are in. Claudia  has been teaching for over 15 years, 7 of which were in a Spanish immersion program for the San José Unified School District in San Jose, California. During her time there, she was able to have first-hand experience and was able to see the benefits bilingual immersion programs can offer." %}
</p>
<p>
    {% trans "During her years at San José Unified School District, Claudia worked under the supervision of <a href="http://atdle.org/about-us/meet-the-team/" target="_blank">Dr. Rosa Molina</a> a renowned bilingual and bilingual immersion advocate. Claudia worked at a Professional Development school where she grew fond of collaboration and professional development practices to further her growth as an educator. As a linguist, second language teacher, and second language learner herself, Claudia has a deep understanding of first and second language acquisition and learning." %}  
</p>
<p>
    {% trans "She received a BA degree in Linguistics with a minor in Spanish and a TESOL (teaching English to Speakers of Other Languages) Certificate from San Jose State University. Later, she obtained her Teaching Credential from The National Hispanic University. Once in Oregon, she received a Master’s Degree in TESOL from Portland State University and also obtained her Oregon Teaching License." %}
</p>
<p>
    {% trans "Claudia has been working for over a year to make Nuestro Jardín Academy a reality. She saw the need for high quality Spanish immersion preschools in Portland and wanted to provide parents with the opportunity to give their children the gift of a second language. In the years she worked with college-aged students, she really missed working with children and their sense of wonder, their creativity, and sense of adventure. She is very excited to embark on this new journey, where she can combine her passion for teaching children, her love of languages, and her deep belief of supporting and mentoring other teachers." %}
</p>
<p>
    {% trans "Claudia lives in NE Portland with her husband, two sons (one in kindergarten, the other in preschool), and cat, Cuchito." %}
</p>  
<!-- End Team Blcoks -->
