<p>
    Claudia Urbina Basail, was born and raised in Mexico City. Since she was a little girl, Claudia always had an adventurous spirit, living in a city occupied with 20 million people. As a child, she helped her grandmother distribute her magazines to sponsors, making her grandmother one of the few female publishers in Mexico. She traveled all over the city alone, working hard to finish the job she was assigned.
</p>
<p>
    Later Claudia obtained her college degree in architecture, following her parents' footsteps.
</p>
<p>
    She decided to move to Oregon with her family, where she has resided for 13 years with her husband and two high schoolers.
</p>
<p>
    Claudia has been constantly involved in multiple volunteer groups and programs, which is where she found her calling for teaching. Since moving to Oregon, she has been working at West Hills Christian School, working with children K-8. Afterwards, Claudia became a substitute teacher at the International School during the school year and during the summer, she works at a Spanish immersion summer camp and sports camp.
</p>
<p>
    She has taken multiple classes on children's psychology and behavior. She is excited to continue her work with children, especially at Nuestro Jardín Academy. Claudia is ready to help the children grow and unleash their potential by developing their self-esteem and making them feel welcome in a safe environment.
</p>