<!-- Team Blcoks -->
<p>
    {% trans "Claudia was born and raised in Santiago, Chile and has been living in the US since 1992. She received a BA degree in Linguistics with a minor in Spanish and a TESOL (teaching English to Speakers of Other Languages) Certificate from San Jose State University. In Oregon, she received a Master's Degree in TESOL from Portland State University and also obtained her Oregon Teaching License." %}
</p>
<p>
    {% trans "Claudia has been in education for 20 years, starting as a teacher in a Spanish immersion program at San Jose Unified School District in California and later as an ESL instructor at Portland State University. During her time at San Jose Unified School District, she was able to both have first-hand experience and see the benefits bilingual immersion programs can offer. As a linguist, second language teacher, and second language learner herself, Claudia has a deep understanding of first and second language acquisition and learning." %}
</p>
<p>
    {% trans "Claudia's vision for creating a Spanish immersion preschool became a reality in 2016. In the past year, she has taken a mentoring role to support the Nuestro Jardín community and is excited to spend time in the classroom with teachers and students!" %}  
</p>
<p>
    {% trans "Claudia is the proud mother of two boys. She loves spending time outdoors with her husband, Alexei, and her children. She also has another passion: running, which keeps her focused and in balance." %}
</p>  
<!-- End Team Blcoks -->
