<!-- Team Blcoks -->
<div class="row team-v7 no-gutter equal-height-columns">
    <div class="col-md-6 team-arrow-right">
        <div class="dp-table">
            <div class="equal-height-column dp-table-cell team-v7-in">
                <span class="team-v7-name">Daisy Batiz</span>                        
                <span class="team-v7-position">{% trans "Assistant Teacher" %}</span>
                <div style="max-height: 360px; overflow-y: scroll; overflow-x:hidden;">
                    <p>
                        {% trans "Daisy Batiz was born and raised in Ponce, Puerto Rico. Her passion for being an educator started at an early age. In 2011, she obtained a Bachelor’s Degree in Special Education with a focus on Autism from the Universidad Interamericana in Ponce, Puerto Rico.  Daisy has also started her studies to earn her Master’s Degree in Special Education and Mild Disabilities at the Caribbean University at Ponce, PR." %}
                    </p>
                    <p>
                        {% trans "Before working for the Department of Education in Puerto Rico, she worked on several federal proposals to support students in Puerto Rico. She helped develop innovative strategies to improve students’ academic achievement, such as the Universidad Interamericana’s program to improve academic performance and drop out rates in students who lived in public housing in Puerto Rico." %}
                    </p>
                    <p>
                        {% trans "She is very happy to be part of Nuestro Jardín, as it will provide her with an enriching experience in a Spanish immersion program." %}  
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 team-v7-img">
        <img class="img-responsive full-width equal-height-column" src="/assets/nja-img/teachers/daisy_batiz.jpg" alt="">
    </div>
</div>
<!-- End Team Blcoks -->
