<p>
    Elizabeth, a native Spanish speaker from Peru, developed a love for English as a young girl. She studied English in college and worked as an English teacher at an elementary school in Peru.
</p>
<p>
    She moved to Italy, where she lived for more than 10 years and worked as a private English instructor for children. During that time, she also became fluent in Italian.
</p>
<p>
    Utilizing her training in emotional health, she has provided counseling for immigrant families in Italy and served as a private parenting coach in Peru. She also volunteered for DEMUNA, a Peruvian government child advocacy program.
</p>
<p>
    Elizabeth has lived in Portland since 2015. She is eager to continue her work with children here, and in particular at Nuestro Jardín Academy. She is a firm believer in the school’s Reggio Emilia approach.
</p>
<p>
    She enjoys working with small children because of their innocence, curiosity and energy. She is grateful and excited for the opportunity to join the journey with the Nuestro Jardín family.
</p>