<p>
    Erica was born in Beaverton, Oregon. Her first trip to Mexico was at the age of 5 to visit her great grandmother who had moved down to Los Barriles, Baja California Sur, Mexico, around the year Erica was born. After her first visilajara for two months with her stepmother, where there was no tv and no radio in English nor were there any English speaking people around her. This was the first time Erica was fully immersed in the Hispanic culture.
</p>
<p>
    Erica eventually made a life in Mexico. She got married and had a son in 2010. Erica loved Mexico, but she missed her other family, friends, and all the different things her home town of Oregon had to offer. The biggest thing that motivated Erica is was her desire to further her education.
</p>