<p>
    Isabel Arroyo born and raised in Barcelona, Spain, moved to Portland in 2003. She worked at the International School of Portland for 13 years as an assistant teacher. Later, she worked for a year at Touchstone School as a Spanish teacher.
</p>
<p>
    Isabel has two children, 15-year old Mac and 11-year old Elisabet. Isabel loves working with children and enjoys being a part of their everyday life. She is happy to work at Nuestro Jardín and be able to share her language with the children at the school.
</p>