<p>Keren is a native Spanish speaker from Venezuela. She has been working with children for more than 10 years. In
    Venezuela, she worked as a speech pathology assistant until she opened her own Speech Pathology Center for children
    in partnership with her sister.</p>
<p>She took some courses in Psychology until she moved to Oregon with her husband and her little 5 year-old daughter in
    2016.</p>
<p>Her prior experience as a preschool teacher in Portland was at another Spanish immersion preschool, where she worked
    both as a floating teacher and then as Language Arts and Social Studies teacher.</p>
<p>Keren is also a singer and loves to use this gift with the children.</p>
<p>Keren is embracing the Reggio Emilia approach and looks forward to growing as a professional at Nuestro Jardín.</p>