<p>
    Laura Willets was born and raised in beautiful Colombia, South America. She studied Foreign Languages at Universidad del Atlantico from which she received a B.A. Her love for the English language and the American culture made her travel to the United States in 2014, as part of a Cultural Exchange Program called Cultural Care Au Pair.  During this year as an Au Pair, Laura took care of two amazing girls in Berkeley,CA. She helped them develop a love for Spanish, music, dance, arts, and nature. Throughout this time, Laura took English and Pronunciation classes at UCB.
</p>
<p>
    Laura is starting her second year at Nuestro Jardín and will be one of the teachers in the Colibríes class. She  is thrilled to be part of the Academy, a place where she can teach her first language and share her culture, but also most importantly, where she can be surrounded by children who make the teaching experience twice as rewarding.
</p>
