<!-- Team Blcoks -->
<div class="row team-v7 no-gutter equal-height-columns">
    <div class="col-md-6 col-md-push-6 team-arrow-left">
        <div class="dp-table">
            <div class="equal-height-column dp-table-cell team-v7-in">
                <span class="team-v7-name">Lisset O’Neill</span>                        
                <span class="team-v7-position">{% trans "Gorriones and Petirrojos’ Teacher and Substitute Director" %}</span>
                <div style="max-height: 360px; overflow-y: scroll; overflow-x:hidden;">
                    <p>
                        {% trans "Lisset O’Neill is a Spanish and Art teacher from Lima, Peru. She obtained a B.A. in Mass Media and Communications from the University of Lima and an M.F.A. in Cinema from San Francisco State University. For over 10 years she was a freelance Filmmaker and Photographer working for nonprofits, start-ups and technology companies in the San Francisco Bay Area. After a life-changing volunteer experience in the Andes of Peru, she discovered her love of teaching, and ever since, she has been sharing her language and her love for the arts with children here in the U.S." %}
                    </p>
                    <p>
                        {% trans "Lisset is a resourceful, imaginative, fun, and passionate teaching professional. Her focal point of expertise is implementing a child-centered, interactive and communicative approach to the pedagogy of Spanish language acquisition. In her classes, children learn through all their senses using concrete objects. Words are not just heard, they are seen, touched, tasted, and smelled. Latin culture comes to life through music, storytelling and traditional games. With this approach the learning process becomes fun and engaging, thus making the language easier to assimilate. Her approach to teaching art is based on the idea that art is about exploration. She supports children in creating artwork that reflects their own interests, ideas, discoveries and inventions." %}
                    </p>
                    <p>
                        {% trans "Before joining Nuestro Jardín, Lisset worked at the Oregon Episcopal School here in Portland and at the Mission Dolores Academy in San Francisco. She is excited to be teaching at our school and is looking forward to meeting the children and parents of our new community." %}  
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-pull-6 team-v7-img">
        <img class="img-responsive full-width equal-height-column" src="/assets/nja-img/teachers/lisset_oneill.jpg" alt="">
    </div>
</div>
<!-- End Team Blcoks -->
