<p>Mahiba was born and raised in Guatemala. She is the mother of three children who were the motivation for pursuing her
    profession. She graduated as a teacher in experimental education, and in 1990, she started working as a teacher, and
    all
    the while she was working towards her Bachelor's Degree in Education. Later, she obtained a Master’s Degree in
    Educational Administration.</p>
<p>In her native Guatemala, she worked at an alternative school where she learned to embrace the Reggio Emilia
    philosophy.
    Her goal has always been to teach in a non-traditional educational setting, to reach children, not by content or
    objectives proposed by adults, but by respecting their own interests, their concerns, and above all, letting them be
    children. She says, "My best teachers have been the children. The day I run out of imagination, they will be my best
    guides."</p>
<p>Mahiba loves to teach at Nuestro Jardín, a place that shares her teaching philosophy.</p>