<p>Originally from Venezuela, Nelly arrived in the United States 2 years ago. In her home country, she never had the
    chance to pursue a degree in education, as she became a mother at a young age, but she knew she always wanted to
    work with children.</p>
<p>She is excited for the opportunity to work at Nuestro Jardín as a floating and support teacher, where she can teach
    children her native language and also learn about the Reggio Emilia approach.</p>
<p>Nelly is an avid baker, and in her free time, she’s in the kitchen baking something delicious with her 6
    grandchildren!</p>