<div class="container-fluid">
        <!-- Team Blcoks -->
        <div class="row team-v7 no-gutter equal-height-columns">
            <div class="col-md-6">
                <div class="dp-table team-arrow-right">
                    <div class="equal-height-column dp-table-cell team-v7-in">
                        <span class="team-v7-name" style="margin-top:20px;">Claudia Contreras-Peters</span>
                        <span class="team-v7-position">{% trans "Founder / Director" %}</span>
                        <div style="max-height: 500px; overflow-y: scroll; overflow-x:hidden;">
                            <p>
                                {% trans "Claudia Contreras-Peters was born and raised in Santiago, Chile, and at an early age, she was interested in (or obsessed with) languages. In 1992, she took a trip to California to “visit her aunt and practice her English.” She made a decision to stay in the United States and attend college in California.  But that trip became the trip of her life, in that those 3 months became 24 years!" %}
                            </p>
                            <p>
                                {% trans "Claudia comes from a family of educators who are passionate about teaching, guiding, and supporting children in whatever stage of life they are in. Claudia  has been teaching for over 15 years, 7 of which were in a Spanish immersion program for the San José Unified School District in San Jose, California. During her time there, she was able to have first-hand experience and was able to see the benefits bilingual immersion programs can offer." %}
                            </p>
                            <p>
                                {% trans "During her years at San José Unified School District, Claudia worked under the supervision of <a href="http://atdle.org/about-us/meet-the-team/" target="_blank">Dr. Rosa Molina</a> a renowned bilingual and bilingual immersion advocate. Claudia worked at a Professional Development school where she grew fond of collaboration and professional development practices to further her growth as an educator. As a linguist, second language teacher, and second language learner herself, Claudia has a deep understanding of first and second language acquisition and learning." %}  
                            </p>
                            <p>
                                {% trans "She received a BA degree in Linguistics with a minor in Spanish and a TESOL (teaching English to Speakers of Other Languages) Certificate from San Jose State University. Later, she obtained her Teaching Credential from The National Hispanic University. Once in Oregon, she received a Master’s Degree in TESOL from Portland State University and also obtained her Oregon Teaching License." %}
                            </p>
                            <p>
                                {% trans "Claudia has been working for over a year to make Nuestro Jardín Academy a reality. She saw the need for high quality Spanish immersion preschools in Portland and wanted to provide parents with the opportunity to give their children the gift of a second language. In the years she worked with college-aged students, she really missed working with children and their sense of wonder, their creativity, and sense of adventure. She is very excited to embark on this new journey, where she can combine her passion for teaching children, her love of languages, and her deep belief of supporting and mentoring other teachers." %}
                            </p>
                            <p>
                                {% trans "Claudia lives in NE Portland with her husband, two sons (one in kindergarten, the other in preschool), and cat, Cuchito." %}
                            </p>                            
                            <!-- <ul class="list-inline social-icons-v1">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 team-v7-img">
                <img class="img-responsive full-width equal-height-column" src="/assets/nja-img/teachers/Claudia_v2.jpg" alt="">
            </div>
        </div>
        <!-- End Team Blcoks -->

        <!-- Team Blcoks -->
        <div class="row team-v7 no-gutter equal-height-columns">
            <div class="col-md-6 col-md-push-6 team-arrow-left">
                <div class="dp-table">
                    <div class="equal-height-column dp-table-cell team-v7-in">
                        <span class="team-v7-name">Lisset O’Neill</span>                        
                        <span class="team-v7-position">Teacher</span>
                        <div style="max-height: 500px; overflow-y: scroll; overflow-x:hidden;">
                            <p>
                                {% trans "Lisset O’Neill is a Spanish and Art teacher from Lima, Peru. She obtained a B.A. in Mass Media and Communications from the University of Lima and an M.F.A. in Cinema from San Francisco State University. For over 10 years she was a freelance Filmmaker and Photographer working for nonprofits, start-ups and technology companies in the San Francisco Bay Area. After a life-changing volunteer experience in the Andes of Peru, she discovered her love of teaching, and ever since, she has been sharing her language and her love for the arts with children here in the U.S." %}
                            </p>
                            <p>
                                {% trans "Lisset is a resourceful, imaginative, fun, and passionate teaching professional. Her focal point of expertise is implementing a child-centered, interactive and communicative approach to the pedagogy of Spanish language acquisition. In her classes, children learn through all their senses using concrete objects. Words are not just heard, they are seen, touched, tasted, and smelled. Latin culture comes to life through music, storytelling and traditional games. With this approach the learning process becomes fun and engaging, thus making the language easier to assimilate. Her approach to teaching art is based on the idea that art is about exploration. She supports children in creating artwork that reflects their own interests, ideas, discoveries and inventions." %}
                            </p>
                            <p>
                                {% trans "Before joining Nuestro Jardín, Lisset worked at the Oregon Episcopal School here in Portland and at the Mission Dolores Academy in San Francisco. She is excited to be teaching at our school and is looking forward to meeting the children and parents of our new community." %}  
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 team-v7-img">
                <img class="img-responsive full-width equal-height-column" src="/assets/nja-img/teachers/Lisset.png" alt="">
            </div>
        </div>
        <!-- End Team Blcoks -->

        <!-- Team Blcoks -->
        <div class="row team-v7 no-gutter equal-height-columns">
            <div class="col-md-6 team-arrow-right">
                <div class="dp-table">
                    <div class="equal-height-column dp-table-cell team-v7-in">
                        <span class="team-v7-name">George Collin</span>
                        <span class="team-v7-position">Web Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget varius leo, at elementum eros. Fusce tristique, ipsum egestas fermentum imperdiet, ex nunc iaculis sem, a semper augue turpis ut nulla. Nam condimentum arcu eu diam gravida cursus. Morbi ante eros, lobortis sit amet tempus in, fermentum vitae neque.</p>
                        <ul class="list-inline social-icons-v1">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 team-v7-img">
                <img class="img-responsive full-width equal-height-column" src="assets/img/team/img-v3.jpg" alt="">
            </div>
        </div>
        <!-- End Team Blcoks -->
    </div>

