<p>Yallili is a physical education teacher from Cuba and has worked with children of all ages (3-17 years old). Yalili
    has also lived in Venezuela and Mexico where she continued her career as a teacher.</p>
<p>Once she moved to the United States, she's been a gymnastics coach but has been looking forward to teaching in a
    preschool setting. Yalili was a gymnast/athlete for 19 years and has competed nationally and internationally.</p>
<p>Her lifelong passion for physical activity led her to become a physical education teacher and instill that love for
    movement in children.</p>
<p>Yalili is excited to be part of the Nuestro Jardín community!</p>