<!-- Team Blcoks -->
<div class="row team-v7 no-gutter equal-height-columns">
    <div class="col-md-6 col-md-push-6 team-arrow-left">
        <div class="dp-table">
            <div class="equal-height-column dp-table-cell team-v7-in">
                <span class="team-v7-name">Yelenis Tamayo</span>                        
                <span class="team-v7-position">{% trans "Assistant Teacher" %}</span>
                <div style="max-height: 360px; overflow-y: scroll; overflow-x:hidden;">
                    <p>
                        {% trans "Yelenis is a school psychologist from Cuba. She has a BA in Education and a MA in School Psychology from Universidad Pedagógica de Santiago de Cuba. Yelenis has over 21 years of experience working with children and university students. She is a talented singer and a fabulous cook and a great salsa dancer. Yelenis compassion for children and beautiful smile are a wonderful addition to Nuestro Jardín’s team." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-pull-6 team-v7-img">
        <img class="img-responsive full-width equal-height-column" src="/assets/nja-img/teachers/yelenis_tamayo.jpg" alt="">
    </div>
</div>
<!-- End Team Blcoks -->