<!-- Contact Section -->
    <section style="background-color: #666;">
        <div class="container content-lg" style="padding:20px;">
      <!--       <div class="title-v1">
                <h2>Contact Us</h2>
            </div> -->

            <div class="row contacts-in">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i>1545 NE Sandy Blvd, Portland OR, 97232</li>
                        <li><i class="fa fa-phone"></i> 1 (408) 499 5620</li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:nja.contact@gmail.com">nja.contact@gmail.com</a></li>
                    </ul>
                </div>
            </div>            
        </div>

        <div class="copyright-section">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/Nuestro-Jard%C3%ADn-Academy-Spanish-Immersion-Preschool-218293715172752/" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
                <!--<li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
                <li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li> -->
            </ul>
            <p>2016 &copy; All Rights Reserved.</p>
        </div>
    </section>
    <!-- End Contact Section -->