<!--=== Header ===--> 
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            
        </div>

        <div class="">
            <a href="#body">
                <img src="/assets/nja-img/NJALogo-ModernElegant.png" class="logo-header" alt="Logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
           
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            
        </div>

        <div class="">
            <a href="#body">
                <img src="/assets/nja-img/NJALogo-ModernElegant.png" class="logo-header" alt="Logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-english_menu-container">
                <ul id="menu-english_menu" class="nav navbar-nav">
                    {% capture locale_es %}{{ page.path | slice,0,3 }}{% endcapture %}
                    {% if locale_es == 'es/' %}
                        {% for link in site.data.nav_links.links_es %}
                            {% capture href %}/{{locale_es}}{{link.href}}{% endcapture %}
                            <li class="menu-item{% if page.url == href and forloop.last == false %} current_page_item{% endif %}">
                                <a href="/{% if forloop.last == false %}es/{% endif %}{{link.href}}">{{link.text}}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for link in site.data.nav_links.links %}
                            {% capture href %}/{{link.href}}{% endcapture %}
                            <li class="menu-item{% if page.url == href and forloop.last == false %} current_page_item{% endif %}">
                                <a href="/{% if forloop.last == true %}es/{% endif %}{{link.href}}">{{link.text}}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>        
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- We add an extra nav bar here that isn't position: fixed so that content below it get's spaced acordingly, the above nav bar has position: fixed -->
<!-- <nav class="one-page-header navbar navbar-default navbar-fixed-top" style="position:relative; visibility: hidden; margin-bottom: 2px" role="navigation">
    <div class="container">

        <div class="collapse navbar-collapse navbar-ex1-collapse" style="visibility: hidden;" >
            &nbsp;
        </div>

    </div>
</nav> -->
<!--=== End Header ===-->   
