<div id="scrollable-body"> 

    <!--  Summer Camps Section -->
    <section>
        <div class="container">
            <h2 class="title">{% trans "<span class="nja-green">Summer</span> Camps" %}</h2>
            <p>
                {% trans "We promise a fun-filled summer camp adventure for children 3 to 5 years old while learning Spanish. Offered for 8 weeks throughout the summer months, we will be offering weekly camps in which children will be able to connect with the outdoors and environment they are surrounded by. Our themes will revolve around science, art, and movement within nature and the environment while learning Spanish!" %}
            </p>
            
            <p>
                {% trans "Camps run week through week, so you may register for one or all eight weeks of summer camp. No prior Spanish experience required." %}
            </p>

            <div class="row" style="padding-top:20px;">
                <div class="col-sm-3">
                    <span style="font-weight: 400;">{% trans "Hours of Operation:" %}</span>
                </div>
                <div class="col-sm-9">
                    {% trans "Full Day: 8:30-4:30 **" %}<br>
                    {% trans "Half Day: 8:30-12:30" %} 
                </div>
                <div class="col-sm-12">
                    {% trans "** Extended care until 5 pm available upon request for an extra $25 fee for the entire week ($20 for the week of July 3-7)" %} 
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-sm-3">
                    <span style="font-weight: 400;">{% trans "Summer Camp Fees:" %}</span>
                </div>
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <div class="row" style="font-weight: 400;">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">{% trans "Full Day" %}</div>
                                <div class="col-xs-4">{% trans "Half Day" %}</div>
                            </div>
                            <div class="row" style="background: #EFEFEF;">
                                <div class="col-xs-4" style="font-weight: 400;">5 {% trans "days" %}</div>
                                <div class="col-xs-4">$310 ($248 for July 3-7)</div>
                                <div class="col-xs-4">$210 ($168 for July 3-7)</div>
                            </div>
                            <div class="row" style="background: #e6f5cb;">
                                <div class="col-xs-4" style="font-weight: 400;">{% trans "10% Discount for signing up in March" %}</div>
                                <div class="col-xs-4">$279 ($224 for July 3-7)</div>
                                <div class="col-xs-4">$189 ($151 for July 3-7)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px;">
                <div class="col-sm-12">
                    {% trans "Detailed class descriptions" %}
                </div>
                <div class="col-sm-12">
                    <p>
                        <strong>{% trans "The Wonders of Nature – Weeks 1-4" %}</strong>
                    </p>
                    <p>
                        {% trans "Children will explore the connections between nature and art through movement, crafts and outdoor play. Natural materials such as seeds, flowers, rocks and sticks will be used to create original works of art that reflect children’s ideas and experiences. The curriculum will emerge based upon shared interests of the children. The goal of the camp is to inspire a love and appreciation for the natural world." %}
                    </p>
                    <p>
                        <strong>{% trans "Our Environment and Us – Weeks 5-8" %}</strong>
                    </p>
                    <p>
                        {% trans "Children will explore ways to connect to our environment and each other through daily walks around our community, movement, arts, crafts, and outdoor play. The outdoors will become a science lab where children will use natural materials to represent their ideas. Each week will be focused on a specific theme, based on shared interests of the children. The goal of the camp is twofold: to instill children's curiosity for the outdoors and to discover their own ways to connect to their environment." %}
                    </p>
                </div>
            </div>

            <a href="../campsignup" title="apply for our program"><div style="text-align: center; margin: 40px 0 40px 0;"><button class="btn-u btn-u-lg rounded-4x nja-bg-orange apply-btn" type="button">{% trans "Register" %}</button></div></a>  

        </div>
    </section>
    <!--  End Camps Section -->

    <!-- Google Map -->
    <section id="contact" class="map">
    </section><!---/map-->
    <!-- End Google Map -->

    {% include footer.html %}

</div><!--/wrapper-->

{% include scripts.html %}

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery.easing.min.js"></script>
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/assets/plugins/smoothScroll.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initMap();
    });
</script>
<!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src="/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->