<div id="scrollable-body">

    <section class="addmissions-section" style="padding: 0px;">
        <script type="text/javascript" src="https://form.jotform.com/jsform/80460433055146"></script>
        {% include footer.html %}
    </section>


</div>

{% include scripts.html %}

<!-- JS Global Compulsory -->               
<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>