<div id="scrollable-body"> 

    <!--  Open House Section -->
<!--     <section id="openhouse">
        <div class="container">
            <h2 class="title">{% trans "<span class="nja-green">Open</span> Houses" %}</h2>
            <p>
                {% trans "Open houses start at 2pm and last for one hour. Join us to learn what Nuestro Jardín, Spanish Immersion Preschool is all about." %}
            </p>
            <ul>
                <li>{% trans "Sunday, December 11th" %}</li>
                <li>{% trans "Sunday, February 12th" %}</li>
            </ul>
        </div>
    </section> -->
    <!--  Open House Section -->

    <!--  Erollment Section -->
    <section id="erollment" class="bg-grey">
        <div class="container">
            <h2 class="title">{% trans "Enrollment & <span class="nja-green">Tuition</span>" %}</h2>
            <p>
                {% trans "Thank you for your interest in Nuestro Jardín Academy, Spanish Immersion Preschool! We are excited to be accepting applications now for the 2019-2020 school year starting this fall." %}
            </p>
            <p>
                {% trans "We serve toilet trained children who are 3 to 5 years of age. If you are interested in our program, we suggest you consider getting on our wait list. Families will be informed about enrollment at the end of March." %}
            </p> 
            <p>
                {% trans "Summer program enrollment will start in March, and a separate waitlist application form will be posted in February." %}
            </p>
            <a href="../apply/" title="apply for our program"><div style="text-align: center; margin: 40px 0 40px 0;"><button class="btn-u btn-u-lg rounded-4x nja-bg-orange apply-btn" type="button">{% trans "Apply" %}</button></div></a>    

            <h4>{% trans "Monthly Tuition 2019-2020 School Year" %}</h4>

            <p style="padding: 50px; background: white; border: solid 1px gainsboro; text-align: center;">
                 <!-- {% trans "Updatded Tuition Schedule Comming Soon!" %} -->
                 <a href="/assets/tuition/Tuition_and_Fees_2019-2020_School_Year.pdf" target="_blank">2019-2020 Tuition and Fees (pdf)</a>
            </p>

<!--             <p>{% trans "Yearly tuition is divided into 10 equal payments starting in September until June. The prices below are effective as of September 1, 2019. Tuition is due on the first of each month." %}</p>
            <div class="container" style="text-align: center;">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="row" style="font-weight: 400;">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4">{% trans "Full Day" %}</div>
                            <div class="col-xs-4">{% trans "Half Day" %}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4" style="font-weight: 400;">{% trans "2 days (T,Th)" %}</div>
                            <div class="col-xs-4">$655</div>
                            <div class="col-xs-4">$460</div>
                        </div>
                        <div class="row" style="background: #EFEFEF;">
                            <div class="col-xs-4" style="font-weight: 400;">{% trans "3 days (M, W, F)" %}</div>
                            <div class="col-xs-4">$830</div>
                            <div class="col-xs-4">$590</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4" style="font-weight: 400;">{% trans "5 days" %}</div>
                            <div class="col-xs-4">$1,105</div>
                            <div class="col-xs-4">$770</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px;">
                <div class="col-sm-3">
                    <span style="font-weight: 400;">{% trans "Hours of Operation:" %}</span>
                </div>
                <div class="col-sm-9">
                    {% trans "Half-day - 8:00 am to 12:30 pm" %}<br>
                    {% trans "Full-day - 8:00 am to  5:00 pm" %} 
                </div>
            </div> -->

            <div class="row">
                <div class="col-sm-3">
                    <span style="font-weight: 400;">{% trans "Deposit and Fees:" %}</span>
                </div>
                <div class="col-sm-9">
                    {% trans "Newly enrolled students - last month’s tuition and a $260 registration fee/materials fee (non-refundable and subject to change)." %}<br>
                    {% trans "Returning students - $150 annual enrollment/materials fee due at time of re-enrollment (non-refundable and subject to change)." %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <span style="font-weight: 400;">{% trans "Sibling Discount:" %}</span>
                </div>
                <div class="col-sm-9">
                    {% trans "5% credit is given to a child whose sibling is enrolled during the same school year (not combined with other discounts). Discount applies to 2nd or 3rd sibling." %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <span style="font-weight: 400;">{% trans "Advance Tuition Discount:" %}</span>
                </div>
                <div class="col-sm-9">
                    {% trans "A tuition discount is available if then entire year is paid in full prior to August 1." %}
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-12">
                    {% trans "Please note that a 6-9% tuition increase will be assessed each year" %}
                </div>
            </div>
            
            <p style="margin-top: 10px;"><span style="font-weight: 400;">{% trans "WAIT LIST – How it works:" %}</span> {% trans "We do not charge a fee for families to get in our wait list. Interested families just need to fill out a wait list application. Your child’s place is determined by the date we receive your wait list form. However, siblings of children currently enrolled or who have been enrolled  in our school in the past are given priority. Families are notified via phone and email when a space is available for their child. Parents will have 48 hours to notify us of their decision, complete the enrollment forms, and pay the deposit and fees. We will regularly assess openings available and use the wait list to inform families when availability exists." %}
            </p>
            <p>{% trans "It is very important to keep us up to date with changes to contact details (such as email address and phone numbers)." %} </p>
        </div>  

    </section>
    <!--  Erollment Section -->


    <!-- Google Map -->
    <section id="contact" class="map">
    </section><!---/map-->
    <!-- End Google Map -->

    {% include footer.html %}

</div><!--/wrapper-->

{% include scripts.html %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initMap();
    });
</script>
<!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src="/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
