<div id="scrollable-body"> 

    <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul style="list-style-type: none; padding-left: 0px;">
                <!-- SLIDE 1 -->
                <!-- <li data-transition="slideup" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                    
                    <img src="/assets/nja-img/DSCN1566.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                    
                    <div class="tp-caption rs-caption-1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="250"
                        data-speed="800"
                        data-start="2000"
                        data-easing="Back.easeInOut"
                        data-endspeed="300"
                        style="background: rgba(93, 86, 83, 0.52);">
                        NUESTRO JARDÍN ACADEMY
                    </div>

                    
                    <div class="tp-caption rs-caption-2 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="350"
                        data-speed="1000"
                        data-start="3000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6; font-weight: 400;">
                        Spanish Immersion Preschool
                    </div>

                    
                    <div class="tp-caption rs-caption-3 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="450"
                        data-speed="800"
                        data-start="3500"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a></span>
                        <span class="page-scroll"><a href="admissions" class="btn-u btn-brd btn-brd-hover btn-u-light">Apply Online</a></span>
                    </div>
                </li> -->

                <!-- SLIDE 3 -->
                <li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/nja-img/by_author/a.pasquier/3036105182_7db5b7f367_o.jpg" width="100%" alt="splash image"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                    <!-- LAYERS -->
                    <div class="tp-caption rs-caption-1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="250"
                        data-speed="800"
                        data-start="1500"
                        data-easing="Back.easeInOut"
                        data-endspeed="300"
                        style="background: rgba(93, 86, 83, 0.52);">
                        {% trans "NUESTRO JARDÍN ACADEMY" %}
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-2 sfb"
                        data-x="center"
                        data-hoffset="0"
                        data-y="350"
                        data-speed="800"
                        data-start="2500"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6; font-weight: 400;">
                        {% trans "Spanish Immersion Preschool" %}
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-3 sfb"
                        data-x="center"
                        data-hoffset="0"
                        data-y="450"
                        data-speed="800"
                        data-start="3500"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">{% trans "Learn More" %}</a></span>
                        <span class="page-scroll"><a href="apply/" class="btn-u btn-brd btn-brd-hover btn-u-light">{% trans "Apply Online" %}</a></span>
                    </div>
                </li>                    

                <!-- SLIDE 2 -->
                <li data-transition="slideup" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/nja-img/exterior.jpg" width="100%" alt="view of the building" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                    <!-- LAYERS -->
                    <div class="tp-caption rs-caption-1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="250"
                        data-speed="800"
                        data-start="1500"
                        data-easing="Back.easeInOut"
                        data-endspeed="300"
                        style="background: rgba(93, 86, 83, 0.52);">
                        {% trans "CENTRALLY LOCATED" %}
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-2 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="350"
                        data-speed="1000"
                        data-start="2500"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6; font-weight: 400;">
                        1545 NE Sandy Blvd.<br> 
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-3 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="450"
                        data-speed="800"
                        data-start="3500"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">{% trans "Learn More" %}</a></span>
                        <span class="page-scroll"><a href="apply/" class="btn-u btn-brd btn-brd-hover btn-u-light">{% trans "Apply Online" %}</a></span>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>            
        </div>
    </div>
    <!--=== End Slider ===-->

    <div class="splash-header nja-bg-green">
        <!-- {% trans "<a href="camps" style="color:white">Summer, Summer, Summer Camps!</a>" %} -->
        <!-- <a href="enrollment" style="color:white;">{% trans "Open House on Saturday, February 12th" %}</a> -->
        RESPONSE TO COVID-19
        <div style="font-size: 16px; letter-spacing: normal; color:black; text-align: left; padding: 30px;">
            <p>Nuestro Jardín Academy has been closed since March 13, 2020 in response to the coronavirus pandemic. Our hearts go out to all those who have been impacted by this health crisis in one way or another. We have been closely monitoring the rapidly changing situation of coronavirus and are following guidance of the CDC, the Early Learning Division, and the Oregon Health Authority.</p>

            <p style="color: #d6d6d6;">We are happy to report that we have been approved to reopen as an emergency child care center on September 1st! We look forward to welcoming back our returning families as well as our new families to our community.</p>

            <p>We still have some openings in our 3 and 4-year old classrooms and will restart enrollment in a couple of weeks. We are closely monitoring all current conditions and guidelines, and rest assured we are working arduously to return in the safest way possible!</p>
        </div>
    </div>

    <!--  About Section -->
    <section id="about" class="about-section section-first">
        <div class="about-image">
            <div class="container content-lg">
                <h2 class="title">{% trans "Welcome to <span class="nja-green">Nuestro</span> Jardín" %}</h2>
                <div class="row" style="text-align:left;">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="img-center">
                                <img class="img-responsive" src="/assets/nja-img/by_author/a.pasquier/2904084829_d42293a1db_o.jpg" alt="">
                            </div>
                        </div>
                        <p>
                            {% trans "Nuestro Jardín Academy is a Spanish immersion, Reggio Emilia inspired preschool for children 3 to 5 years old." %}
                        </p>
                        <p>
                            {% trans "Our mission is to instill in children a true love of learning through exploration, discovery, and inquiry in ways that promote Spanish language acquisition and learning."%}
                        </p>     
                        <p>
                            {% trans "At Nuestro Jardín, we follow children's interests, and we encourage their natural curiosity and creativity to be expressed in many ways, such as through art, music, movement, and language."%}
                        </p> 
                    </div>
                </div>          
            </div>
        </div>     

        <blockquote class="container content-lg text-right">
            <p class="nja-green">"We've had an incredible experience and our son loves being there. Besides being immersed in the Spanish language and providing engaging and fun activities to kids, the teachers go out of their way to meet the needs of each student. Our family really enjoyed and benefited from the time spent there."</p>
            <small><em>Jacob & Mayra O'Brien</em></small>
        </blockquote>

        <div class="block-v1 bg-grey">
            <div class="container content-lg">
                <div class="row content-boxes-v3">
                    <a href="program#90:10" title="The 90:10 immersion model" class="alt-link">
                        <div class="col-md-4 md-margin-bottom-30">
                            <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
                            <div class="content-boxes-in-v3">
                                <h3 class="heading-sm">{% trans "The Immersion Model" %}</h3>
                                <p>
                                    {% trans "At Nuestro Jardín, children are immersed in Spanish about 90% of the day. Our communicative approach encourages children to be speaking social Spanish from the very first day of school... <span class="more-link">(more)</span>" %}
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="program#90:10" title="Curriculum" class="alt-link">
                        <div class="col-md-4 md-margin-bottom-30">
                            <i class="icon-custom rounded-x icon-bg-dark fa fa-flask"></i>
                            <div class="content-boxes-in-v3">
                                <h3 class="heading-sm">{% trans "Curriculum" %}</h3>
                                <p>
                                    {% trans "Our approach to early childhood education follows the Reggio Emilia philosophy with an emergent curriculum. We value the child as strong, resilient, and capable – rich with wonder and knowledge. Each child...<span class="more-link">(more)</span>" %}
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="program#90:10" title="Role of the Teacher" class="alt-link">
                        <div class="col-md-4">
                            <i class="icon-custom rounded-x icon-bg-dark fa fa-bolt"></i>
                            <div class="content-boxes-in-v3">
                                <h3 class="heading-sm">{% trans "Role of the Teacher" %}</h3>
                                <p>
                                    {% trans "Children deserve a loving and secure environment, one that promotes a sense of wonder and discovery in learning, one that inspires them...<span class="more-link">(more)</span>" %}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>                
            </div>
        </div>

        <div class="parallax-quote parallaxBg" style="background-position: 50% 236px;">
            <div class="container">
                <div class="parallax-quote-in">
                    <p>{% trans "If you talk to a man in a language he understands, <br> that goes to his head. <br> <span class="color-green">If you talk to him in his language,</span> <br>that goes to his heart." %}</p>
                    <small>- Nelson Mandela -</small>
                </div>
            </div>
        </div>

        <div class="container content-lg">
            <div class="row">
                <div class="col-md-6 content-boxes-v3">
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-heart"></i>
                        <div class="content-boxes-in-v3">
                            <h3 class="heading-sm">{% trans "The Gift of a Second Language" %}</h3>
                            <p>
                                {% trans "It's amazing what children can learn if given the opportunity.  Without even knowing it, your child can start down the path of bilingualism.  They'll thank you later!" %}
                            </p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-emoticon-smile"></i>
                        <div class="content-boxes-in-v3">
                            <h3 class="heading-sm">{% trans "Playing is Learning Too" %}</h3>
                            <p>
                                {% trans "Education researcher, Neville V. Scarfe said, “play is the highest form of research”. Children learn best when given adequate time to move their bodies. At Nuestro Jardín Academy, we strongly believe that a great deal of learning is happening during unstructured play time, and that there is a lot of value in it." %}
                            </p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-music-tone-alt"></i>
                        <div class="content-boxes-in-v3">
                            <h3 class="heading-sm">{% trans "Spanish is More Than Just a Language" %}</h3>
                            <p>
                                {% trans "Learning and understanding the <span>culture</span> behind the language can make learning fun. We engage the children with activities centered around customs, dances, songs and art." %}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive" src="/assets/nja-img/by_author/a.pasquier/2359652927_e990032754_o.jpg" alt="">
                </div>
            </div>
        </div> 
    </section>

    <!-- Google Map -->
    <section id="contact" class="map">
    </section><!---/map-->
    <!-- End Google Map -->

    {% include footer.html %}

</div>

{% include scripts.html %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initParallaxBg();
        App.initMap();
        RevolutionSlider.initRSfullWidth();
    });
</script>
<!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src="/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
