<div id="scrollable-body"> 

    <!--  Open House Section -->
    <section id="openhouse">
        <div class="container">
            <h2 class="title">{% trans "Job <span class="nja-green">Opportunities</span>" %}</h2>
            {% include jobs/full_and_part_time.html %}
        </div>
    </section>
    <!--  Open House Section -->


    <!-- Google Map -->
    <section id="contact" class="map">
    </section><!---/map-->
    <!-- End Google Map -->

    {% include footer.html %}

</div><!--/wrapper-->

{% include scripts.html %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initMap();
    });
</script>
<!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src="/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
