<p>
    <h4>{% trans "FULL AND PART TIME SPANISH PRESCHOOL TEACHER (NE Portland)" %}</h4>
    {% trans "Open until filled" %}
</p>
<p>
    {% trans "Nuestro Jardín Academy, a brand new Spanish immersion preschool in Portland, Oregon, is seeking full and part time Spanish-speaking preschool teachers to start up in late spring/beginning of summer 2016. Our preschool provides a high-quality, research-based program that fosters the acquisition of children's first and second language with a focus on developing the whole child. We believe in making this a unique language and cultural immersion experience for children, so we are looking for the perfect candidates to join our team. Our goal is for teachers to work in a fun, supportive, and collaborative environment. Teachers are one of the best assets to our program, so providing high-quality professional development in Spanish will help you become the best teacher you can be." %}
</p>
<p>
    <strong>{% trans "Job Description:" %}<br>
    {% trans "ESSENTIAL FUNCTIONS:" %}<br></strong>
    <ul>
        <li>{% trans "Responsible for the overall supervision, planning, and management of the Spanish immersion preschool class:" %}</li>
        <li>{% trans "Create and manage a warm and challenging learning environment for students, incorporating appropriate activities which meet the needs of the group as well as those of individual children and families." %}</li>
        <li>{% trans "Provide and maintain a safe environment." %}</li>
        <li>{% trans "Be able to read, speak, and write with native-like fluency and proficiency in Spanish." %}</li>
    </ul>
</p>
<p>
    <strong>{% trans "RESPONSIBILITIES:" %}</strong><br>
    <ul>
        <li>{% trans "Be available to substitute for other classes as needed." %}</li>
        <li>{% trans "Participate in professional development activities and complete continuing education requirements." %}</li>
        <li>{% trans "Adhere to personnel policies as outlined in the Employee Handbook." %}</li>
        <li>{% trans "Be responsible and oversee the accomplishment of routine tasks with regard to the health, safety, and well-being of children, and maintain the program in accordance with the requirements of the Oregon Child Care Division." %}</li>
        <li>{% trans "Assist in the maintenance of a safe, healthy, and orderly classroom environment." %}</li>
        <li>{% trans "Assist in designing and maintaining a warm, nurturing, enriched, and challenging learning environment." %}</li>
        <li>{% trans "Assist in creating, revising, and implementing lesson plans based on our Spanish immersion program’s goals and objectives." %}</li>
    </ul>
</p>

<strong>{% trans "ADDITIONAL EXPECTATIONS:" %}<br>
<div style="padding-left:20px;">
    <p>{% trans "Program Participation and Team Member:" %}<br></strong>
        <ul>
            <li>{% trans "Arrive to work on time; punctually attend and actively participate in all required activities, meetings, and trainings." %}</li>
            <li>{% trans "Be a respectful, cooperative, and reliable team member and participant in program activities." %}</li>
            <li>{% trans "Project a professional work image" %}</li>
            <li>{% trans "Be familiar with, and adhere to, position-related policies and procedures as well as the program’s overarching objectives." %}</li>
        </ul>
    <p>
        <strong>{% trans "Confidentiality:" %}<br></strong>
        {% trans "Respect and maintain confidentiality of information regarding enrolled children and families, personnel issues, and other program operations as appropriate." %}
    </p>
    <p>
        <strong>{% trans "Training:" %}<br></strong>
        {% trans "New teachers must satisfactorily complete a training program before summer camp sessions and/or the new school year start." %}
    </p>
    </p>
    <p>
        <strong>{% trans "Commitment:" %}<br></strong>
        {% trans "A minimum of one year commitment is required. Both part-time and full-time new hires will be working under a contract." %}
    </p>
    <p>
        <strong>{% trans "Hours:" %}<br></strong>
        {% trans "Part-Time: 20-30 hours per week" %}<br>
        {% trans "Full-Time: 34-38 hours per week" %}<br>
    </p>
</div>
<p>
    <strong>{% trans "MINIMUM QUALIFICATIONS:" %}</strong><br>
    <ul>
        <li>{% trans "Applicant must be bilingual AND be a native Spanish speaker or have native-like fluency/proficiency" %}</li>
        <li>{% trans "Qualify under one of the following below:" %}</li>
        <ul>
            <li>{% trans "AA Degree in early childhood education, elementary education, child development, or special education OR" %}</li>
            <li>{% trans "At least two years of experience working with young children and families in a daycare/ preschool program. OR" %}</li>
            <li>{% trans "Completion of 20 semester credits or 30 quarter credits of training at a college or university in Early childhood education, child development, elementary education, or special education AND at least one year of experience working with young children and families in a daycare/preschool program." %}</li>
        </ul>
        <li>{% trans "Enrollment in Oregon Central Background Registry (can be done right after accepting employment)" %}</li>
        <li>{% trans "The following are also required for employment and must be obtained within 90 days after accepting the position." %}</li>
        <ul>
            <li>{% trans "Current First Aid/CPR card" %}</li>
            <li>{% trans "Food Handlers Card" %}</li>
            <li>{% trans "Valid Oregon Driver’s License" %}</li>
        </ul>
    </ul>
</p>

<strong>{% trans "PREFERRED QUALIFICATIONS (not required but a plus):" %}</strong><br>
<div style="padding-left:20px;">
    <p>
        {% trans "Skills, expertise, or aptitude in:" %}
        <ul>
            <li>{% trans "the visual arts" %}</li>
            <li>{% trans "the performing arts (dance, music, drama)" %}</li>
            <li>{% trans "second language teaching" %}</li>
        </ul>
    </p>
</div>

<strong>{% trans "CALENDAR INFORMATION:" %}</strong><br>
<div style="padding-left:20px;">
    <p>
        {% trans "Nuestro Jardín Academy mostly follows the Portland Public Schools Calendar:" %}<br>
        <ul>
            <li>{% trans "2 weeks off in December" %}</li>
            <li>{% trans "1 week off in Spring" %}</li>
            <li>{% trans "8 observed holidays during the school year" %}</li>
            <li>{% trans "4 days of professional development/planning days before the school year begins" %}</li>
            <li>{% trans "5 days of professional development/planning days throughout the school year" %}</li>
        </ul>
        {% trans "Summer camp sessions:" %}
        <ul>
            <li>{% trans "Run for part of June, July, and part of August." %}</li>
            <li>{% trans "4 weeks off during the summer." %}</li>
            <li>{% trans "1 observed holiday in the summer" %}</li>
        </ul>
    </p>
</div>
<p>
    <strong>{% trans "COMPENSATION & BENEFITS:" %}</strong><br>
    <ul>
        <li>{% trans "$11-$15 per hour depending on education and work experience" %}</li>
        <li>{% trans "7 weeks off in a year" %}</li>
        <li>{% trans "One week of paid sick/personal days" %}</li>
        <li>{% trans "Teacher planning built into schedule" %}</li>
        <li>{% trans "Tuition discount for any children attending Nuestro Jardín Academy" %}</li>
    </ul>
    <div style="padding-left:20px;">
            {% trans "After 90 days of full-time employment (34+ hours a week):" %}
        <ul>
            <li>{% trans "Medical benefits" %}</li>
            <li>{% trans "Two weeks paid vacation during Winter and Spring breaks" %}</li>
        </ul>
    </div>
</p>

<strong>{% trans "CONTACT:" %}</strong><br>
<div style="padding-left:20px;">
    <p>
        {% trans "Interested applicants, please send a cover letter and resume indicating clearly which position you are applying for (P/T or F/T) to Claudia Contreras-Peters, Director, via e-mail at <a href="mailto:nja.claudia@gmail.com">nja.claudia@gmail.com</a> or to:" %}
    </p>
    <p>
        Claudia Contreras-Peters, {% trans "Director" %}<br>
        Nuestro Jardín Academy, Spanish Immersion Preschool<br>
        1545 NE Sandy Blvd.<br>
        Portland, OR 97232<br>
    </p>
</div>
<p>
    {% trans "Interviews will start the week of March 14th, 2016" %}
</p>
